span.displaySentence.isOpen {
	.flashcardFront {
		font-weight: bold;
	}
	.flashcardBack {
		background-color: rgb(211, 211, 152);
		font-size: 0.8rem;
		border-radius: 0.2rem;
		padding: 0 0.2rem 0.1rem 0.2rem;
	}
}

span.displaySentence.isClosed {
	.flashcardFront {
		border-bottom: 1px dashed #777;
	}
	.flashcardBack {
		background-color: rgb(211, 211, 152);
		font-size: 0.8rem;
		border-radius: 0.2rem;
		padding: 0 0.2rem 0.1rem 0.2rem;
	}
}
