span.displaySentence.isOpen {
	.flashcardFront {
		font-weight: bold;
		cursor: pointer;
	}
	.flashcardBack {
		background-color: rgb(211, 211, 152);
		font-size: 0.8rem;
		border-radius: 0.2rem;
		padding: 0 0.2rem 0.1rem 0.2rem;
		cursor: pointer;
	}
}

span.displaySentence.isClosed {
	.flashcardFront {
		border-bottom: 1px solid #555;
		&:hover {
			border-bottom: 1px solid #555;
			cursor: pointer;
		}
	}
	.flashcardBack {
		background-color: rgb(211, 211, 152);
		font-size: 0.8rem;
		border-radius: 0.2rem;
		padding: 0 0.2rem 0.1rem 0.2rem;
	}
}
